{% extends 'shop/base.html' %}

{% block content %}
<div class="col-12">
    <form class="row" method="post" enctype="multipart/form-data">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            Вход
                        </h3>
                    </div>
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success">Войти</button>
                        <p><a href="{% url 'users:password_reset' %}" class="text-black">Забыли пароль?</a></p>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}